<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asp.roomly_one">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Roomly"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.google.ar.core" android:value="optional" />

        <activity android:name=".splashscreen"/>
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.asp.roomly_one.Main2Activity"
            android:parentActivityName="com.example.asp.roomly_one.MainMActivity"/>
        <activity android:name="com.example.asp.roomly_one.Main3Activity" />
        <activity android:name="com.example.asp.roomly_one.LivingroomActivity"
            android:parentActivityName="com.example.asp.roomly_one.StoreActivity"/>
        <activity android:name="com.example.asp.roomly_one.BedroomActivity"
            android:parentActivityName="com.example.asp.roomly_one.StoreActivity"/>
        <activity android:name="com.example.asp.roomly_one.ar_visualization"
            android:parentActivityName="com.example.asp.roomly_one.Main3Activity"/>
        <activity android:name="com.example.asp.roomly_one.OfficeActivity"
            android:parentActivityName="com.example.asp.roomly_one.StoreActivity"/>
        <activity android:name="com.example.asp.roomly_one.StoreActivity"
            android:parentActivityName="com.example.asp.roomly_one.Main3Activity"/>
        <activity android:name="com.example.asp.roomly_one.MainMActivity"/>
        <activity android:name="com.example.asp.roomly_one.AccountActivity2"
            android:parentActivityName="com.example.asp.roomly_one.Main3Activity"/>

    </application>
</manifest>